@use 'shared/styles/reset';
@use 'shared/styles/text';

* {
  box-sizing: border-box;

  font-family: 'Inter', sans-serif;
  font-size: 1rem;
  font-weight: normal;

  outline: none;
}

#root {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
}

.container {
  max-width: 85%;
  margin: 0 auto;
}
