.textarea {
    width: 100%;
    resize: none;

    padding: 13px 20px;
    border: 1px solid;
    border-color: var(--color-neutral-secondary);
    border-radius: 15px;
  
    font-weight: 400;
  
    transition: 0.2s all;
  
    &:focus {
      border-color: var(--color-primary);
    }
}
  